﻿@using RekamMedik.Models
@model ReportViewModel
@{
    var controllerName = "Report";
    ViewBag.Title = "Report";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};

    var reportlist = new List<SelectListItem>()
{
new SelectListItem(){ Value = "SIM_Rpt_JumlahPasienPerDokter", Text = "Laporan Jumlah Pasien PerDokter" },
new SelectListItem(){ Value = "SIM_Rpt_LaporanSC_NORMAL", Text = "Laporan Tindakan SC & Partus Normal" },
new SelectListItem(){ Value = "SIM_Rpt_RegisterAnakRI", Text = "Laporan Register Anak Rawat Inap" },
new SelectListItem(){ Value = "SIM_Rpt_RegisterIbuRI", Text = "Laporan Register Ibu Rawat Inap" },
new SelectListItem(){ Value = "SIM_Rpt_RekapitulasiPasienRI_RJ", Text = "Laporan Rekapitulasi RI & RJ" },
new SelectListItem(){ Value = "SIM_Rpt_IndexPenyakitRI_WEB", Text = "Laporan Penyakit Index Rawat Inap" },
new SelectListItem(){ Value = "SIM_Rpt_IndexPenyakitRI_PerSection_WEB", Text = "Laporan Penyakit Index Rawat Inap Persection Perdokter" },
new SelectListItem(){ Value = "SIM_Rpt_BukuRegister_RI_WEB", Text = "Laporan Register Pasien Rawat Inap" },
new SelectListItem(){ Value = "SIM_Rpt_PenyakitTerbayak_RawatInap_WEB", Text = "Laporan Penyakit Terbanyak Rawat Inap" },
new SelectListItem(){ Value = "SIM_Rpt_PenyakitTerbayak_RawatInap_PerSection_WEB", Text = "Laporan Penyakit Terbanyak Rawat Inap Per Section" },
new SelectListItem(){ Value = "RM_Rpt_PasienDiagnosaTindakan_WEB", Text = "Daftar Pasien Group By ICD Tindakan" },
new SelectListItem(){ Value = "Z_SIM_Rpt_LapStatusPulangPasien", Text = "Laporan Status Pasien Pulang" },
new SelectListItem(){ Value = "BOR", Text = "Laporan BOR" },
};
}

<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            Laporan Rawat Inap
        </div>
        <div class="panel-body">
            <div class="wall" ng-controller="form">
                @using (Html.BeginForm("LaporanRawatInap", controllerName, FormMethod.Post, new { id = formName, autocomplete = "off" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SPName)
                    <div class="form-group">
                        <label>Report</label>
                        @Html.DropDownListFor(model => model.JenisReport, reportlist, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JenisReport, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Periode</label>
                        @Html.TextBoxFor(model => model.Start, new { @class = "form-control", Value = Model.Start.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        @Html.TextBoxFor(model => model.End, new { @class = "form-control", Value = Model.End.ToString("yyyy-MM-dd"), type = "date" })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden" id="section">
                        <label>Section</label>
                        @Html.DropDownListFor(model => model.SectionID, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden" id="dokter">
                        <label>Dokter</label>
                        @Html.DropDownListFor(model => model.DokterID, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden" id="icd">
                        <label>ICD</label>
                        @Html.DropDownListFor(model => model.KodeICD, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KodeICD, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="formatreport">
                        <label>Format Report</label>
                        @Html.DropDownListFor(model => model.FormatReport, StaticModel.SelectListFormatReport, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FormatReport, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Report <i class="icon-printer position-right"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('#JenisReport').on('change', function () {
        jenisreportchanget();
    });

    document.addEventListener("DOMContentLoaded", function (event) {
        jenisreportchanget();
    });

    function jenisreportchanget() {
        var v = $('#JenisReport option:selected').val();
        var sp = v === 'SIM_Rpt_JumlahPasienPerDokter' ? 'SIM_Rpt_JumlahPasienPerDokter_WEB' :
            v === 'SIM_Rpt_LaporanSC_NORMAL' ? 'SIM_Rpt_LaporanSC_NORMAL_WEB' :
                v === 'SIM_Rpt_RegisterAnakRI' ? 'SIM_Rpt_RegisterAnakRI_WEB' :
                    v === 'SIM_Rpt_RegisterIbuRI' ? 'SIM_Rpt_RegisterIbuRI_WEB' :
                        v === 'SIM_Rpt_RekapitulasiPasienRI_RJ' ? 'SIM_Rpt_RekapitulasiPasienRI_RJ_WEB' :
                            v === 'SIM_Rpt_IndexPenyakitRI_WEB' ? 'SIM_Rpt_IndexPenyakitRI_WEB' :
                                v === 'SIM_Rpt_IndexPenyakitRI_PerSection_WEB' ? 'SIM_Rpt_IndexPenyakitRI_PerSection_WEB' :
                                    v === 'SIM_Rpt_BukuRegister_RI_WEB' ? 'SIM_Rpt_BukuRegister_RI_WEB' :
                                        v === 'SIM_Rpt_PenyakitTerbayak_RawatInap_WEB' ? 'SIM_Rpt_PenyakitTerbayak_RawatInap_WEB' :
                                            v === 'SIM_Rpt_PenyakitTerbayak_RawatInap_PerSection_WEB' ? 'SIM_Rpt_PenyakitTerbayak_RawatInap_PerSection_WEB' :
                                                v === 'RM_Rpt_PasienDiagnosaTindakan_WEB' ? 'RM_Rpt_PasienDiagnosaTindakan_WEB' :
                                                    v === 'Z_SIM_Rpt_LapStatusPulangPasien' ? 'Z_SIM_Rpt_LapStatusPulangPasien' :
                                                        v === 'BOR' ? 'Z_BOR_RI' :
                                                        '';
        if (v === 'SIM_Rpt_IndexPenyakitRI_WEB' || v === 'RM_Rpt_PasienDiagnosaTindakan_WEB') {
            $('#icd').removeClass('hidden');
        } else {
            $('#icd').addClass('hidden');
        }

        if (v === 'SIM_Rpt_IndexPenyakitRI_PerSection_WEB' || v === 'SIM_Rpt_BukuRegister_RI_WEB') {
            $('#section').removeClass('hidden');
        } else {
            $('#section').addClass('hidden');
        }

        if (v === 'SIM_Rpt_IndexPenyakitRI_PerSection_WEB') {
            $('#dokter').removeClass('hidden');
        } else {
            $('#dokter').addClass('hidden');
        }

        $('#SPName').val(sp);
    }

    $('#@formName #KodeICD').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("SelectListDokter", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #SectionID').select2({
        ajax: {
            url: "@Url.Action("SelectListSection", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });
</script>