﻿@using RekamMedik.Models
@model ICDViewModel
@{
    var controllerName = "ICD";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.KodeICD)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3">Descriptions</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Descriptions, htmlAttributes: new { @class = "form-control", })
                    @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
