﻿@using Microsoft.AspNet.Identity
@{
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
    var username = user.GetUserName();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Sanata System</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/pace.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <script type="text/javascript" src="~/Theme/js/plugins/velocity/velocity.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/velocity/velocity.ui.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/buttons/spin.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/buttons/ladda.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/pages/components_buttons.js"></script>

    <!-- Theme JS files -->
    <script src="~/Theme/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Theme/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/Theme/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/js/pages/layout_fixed_native.js"></script>
    <!-- /theme JS files -->

    @Styles.Render("~/Content/ihossyte")
    <!-- jQuery validate -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- /jQuery validate -->
    <!-- AngularJS -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <!-- /AngularJS -->

</head>
<body class="navbar-top" ng-app="ihos">
    <div class="content" ng-controller="body">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    <!-- /page container -->
    <script src="~/Scripts/ihos/ihos.js"></script>
</body>
</html>