﻿@using RekamMedik.Models
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@using RekamMedik.Entities
@using RekamMedik.Models
@model ManualPostingViewModel
@{
    var controllerName = "ManualPosting";
    ViewBag.Title = controllerName;
    var formName = $"formbilling";
    var targetForm = formName;
    #region ==== MODAL REGISTRASI
    var target_registrasi = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.TglReg)}",
        t2 = $"#{nameof(Model.NRM)}",
        t3 = $"#{nameof(Model.NamaPasien)}",
        t4 = $"#{nameof(Model.Alamat)}",
        //t5 = $"#{nameof(Model.TipePelayanan)}",
        //t6 = $"#{nameof(Model.KelasID)}",
        t7 = $"#{nameof(Model.Registrasi_JenisKerjasama)}",
        t8 = $"#{nameof(Model.Registrasi_CompanyName)}"
    };
    var modalid_registrasi = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName_registrasi = "Registrasi";
    #endregion

}

<style>
    .panel {
        margin-bottom: 0 !important;
    }
</style>
<form id="formbilling" class="wall form-horizontal" onsubmit="submitformbilling(this)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Kode</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : ""), @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.Value.ToString("hh':'mm")) : ""), @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-15">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">NoReg</label>
                        <div class="col-md-10 margin-bottom-md">
                            @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">TglReg</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TglReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TglReg, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">NRM</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nama</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Alamat</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Alamat, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kerjasama</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Registrasi_JenisKerjasama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Registrasi_JenisKerjasama, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Registrasi_CompanyName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Registrasi_CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Dokter</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DokterID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ruangan</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SectionID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-2">Kelas</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.KdKelas, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.KdKelas, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="panel mt-20">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jumlah</label>
                        <div class="col-md-10">
                            <input id="Jumlah" type="text" class="form-control text-right" readonly value="@Model.Jumlah.ToMoney()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Petugas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.detail)
                        {
                            <tr>
                                <td class="text-center">
                                    <a class="text-info-600" onclick="viewdetailjasa('@x.jasaid', this)">
                                        <i class="icon-eye"></i>
                                    </a>
                                </td>
                                <td>@x.jasaid</td>
                                <td>@x.jasanama</td>
                                <td class="text-center">@x.qty</td>
                                <td class="text-right">@x.tarif.ToMoney()</td>
                                <td class="text-center">@x.diskon</td>
                                <td>@x.namadokter</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right">
        <div class="col-md-12">
            @if (Model.Pembayaran == 1 && Model.Pulang == 0)
            {
                @:<button type="button" onclick="_openModalPaymen()" class="btn btn-primary"><i class="icon-paperplane position-left"></i> Pembayaran </button>
            }
            else
            {
                <text>
                    <button type="button" onclick="_openModelCreate()" class="btn btn-info"><i class="icon-plus3 position-left"></i> Tambah Baru</button>
                    @if (Model.Pulang == 0)
                    {
                        <button type="button" onclick="_openModelEdit()" class="btn btn-success"><i class="icon-pencil position-left"></i> Edit Data</button>
                    }
                </text>
            }
        </div>
    </div>
</form>


<script>
    function _openModalPaymen() {
        var noreg = $("#NoReg").val();
        openModalPaymen(noreg);
    }
    function _openModelEdit() {
        var noreg = $("#NoBukti").val();
        openModalEdit(noreg);
    }
    function _openModelCreate() {
        openModalCreate();
    }
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)))

    function viewdetailjasa(id, t) {
        $('#tablebillingjasa tbody .active-info').removeClass('active-info');
        $(t).closest('tr').addClass('active-info');
        var h = headerdetail.map(function (x, i) { if (x.jasaid == id) return x; }).filter(x => x != undefined)[0];
        var r = '';
        $.each(h.detail, function (i, v) {
            r += '<tr>';
            r += '<td>' + v.komponennama + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.harga) + '</td>';
            r += '<td class="text-right">' + v.diskon + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.diskonnilai) + '</td>';
            r += '<td class="text-right">' + getcurrencyfromfloat(v.jumlah) + '</td>';
            r += '</tr>';
        });
        $('#tablebillingjasadetail tbody').html(r);
    }
</script>