﻿@using RekamMedik.Entities
@using iHos.MVC.Converter
@using System.Web.Script.Serialization
@using RekamMedik.Models
@model ManualPostingViewModel
@{
    var controllerName = "ManualPosting";
    ViewBag.Title = controllerName;
    var formName = $"formbilling";
    var targetForm = formName;
    #region ==== MODAL REGISTRASI
    var target_registrasi = new
    {
        t0 = $"#{nameof(Model.NoReg)}",
        t1 = $"#{nameof(Model.TglReg)}",
        t2 = $"#{nameof(Model.NRM)}",
        t3 = $"#{nameof(Model.NamaPasien)}",
        t4 = $"#{nameof(Model.Alamat)}",
        //t5 = $"#{nameof(Model.TipePelayanan)}",
        //t6 = $"#{nameof(Model.KelasID)}",
        t7 = $"#{nameof(Model.Registrasi_JenisKerjasama)}",
        t8 = $"#{nameof(Model.Registrasi_CompanyName)}"
    };
    var modalid_registrasi = $"modal_{formName}_{nameof(Model.NoReg)}";
    var modalName_registrasi = "Registrasi";
    #endregion

}

<style>
    .panel {
        margin-bottom: 0 !important;
    }
</style>
<form id="formbilling" class="wall form-horizontal" onsubmit="submitformbilling(this)">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Kode</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoBukti, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.NoBukti, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Tanggal</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Tanggal, new { htmlAttributes = new { @class = "form-control", Value = (Model.Tanggal != null ? (Model.Tanggal.Value.ToString("yyyy-MM-dd")) : "") } })
                    @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Jam, new { htmlAttributes = new { @class = "form-control", Value = (Model.Jam != null ? (Model.Jam.Value.ToString("hh':'mm")) : "") } })
                    @Html.ValidationMessageFor(model => model.Jam, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-15">
        <div class="col-md-6">
            <div class="panel" ">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">NoReg</label>
                        <div class="col-md-10 margin-bottom-md">
                            @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", onblur = "getdataregistrasi()", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">TglReg</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.TglReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TglReg, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">NRM</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nama</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Alamat</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Alamat, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kerjasama</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Registrasi_JenisKerjasama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Registrasi_JenisKerjasama, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Registrasi_CompanyName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Registrasi_CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Dokter</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.DokterID, Model.DokterID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                            { new SelectListItem() {
                                Value = Model.DokterID.ToString(), Text = Model.NamaDokter
                            } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ruangan</label>
                        <div class="col-md-10">
                            @*@Html.DropDownListFor(model => model.SectionID, Model.SectionID == null ? new List<SelectListItem>() : new List<SelectListItem>()
                            { new SelectListItem() {
                                Value = Model.SectionID.ToString(), Text = Model.Nama_asli
                            } }, new { @class = "form-control" })*@
                            @Html.EditorFor(model => model.Nama_asli, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.HiddenFor(model => model.SectionID)
                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-md-2">Kelas</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.KdKelas, new List<SelectListItem>(), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KdKelas, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                </div>
            </div>
            <div class="panel mt-20">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Jumlah</label>
                        <div class="col-md-10">
                            <input id="Jumlah" type="text" class="form-control text-right" readonly value="@(Model.Jumlah == null ? "" : Model.Jumlah.ToMoney())" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasa">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 60px;">
                                <a class="text-success-600" onclick="modalopenjasa()">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th class="text-center" style="width: 100px;">ID</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center" style="width: 100px;">Qty</th>
                            <th class="text-center" style="width: 150px;">Tarif</th>
                            <th class="text-center" style="width: 100px;">Disc</th>
                            <th class="text-center">Nama Petugas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.detail.Count; i++)
                        {
                            <tr data-id="@Model.detail[i].id">
                                <td><a class="text-info-600" onclick="viewdetailjasa(@Model.detail[i].id, this)"><i class="icon-eye"></i></a> &nbsp; <a class="text-danger-600" onclick="removedetailjasa(this)"><i class="icon-trash"></i></a></td>
                                <td><input type="text" value="@Model.detail[i].jasaid" class="form-control" readonly></td>
                                <td><input type="text" value="@Model.detail[i].jasanama" class="form-control" readonly></td>
                                <td><input type="number" required onchange="updateqtyjasa(this, @Model.detail[i].id)" value="@Model.detail[i].qty" class="form-control text-right"></td>
                                <td><input type="text" value="@Model.detail[i].tarif.ToMoney()" class="form-control text-right" readonly></td>
                                <td><input type="text" value="@Model.detail[i].diskon.ToMoney()" class="diskon form-control text-right" readonly></td>
                                <td>
                                    <select class="ready-to-select2">
                                        <option value="@Model.detail[i].dokter">@Model.detail[i].namadokter</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablebillingjasadetail">
                    <thead>
                        <tr>
                            <th class="text-center">Komponen</th>
                            <th class="text-center" style="width: 150px;">Harga</th>
                            <th class="text-center" style="width: 100px;">Disc %</th>
                            <th class="text-center" style="width: 150px;">Disc</th>
                            <th class="text-center" style="width: 150px;">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group text-right">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
</form>

@Html.Partial("LookUpBillingJasa")

<script>
    var lastid = @(Model.detail.Count - 1);
    var headerdetail = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.detail)));

    function submitformbilling(t) {
        myajax({
            url: "@Url.Action("Edit", "ManualPosting")",
            type : "PUT",
            data: {
                NoBukti: $('#formbilling #NoBukti').val(),
                NoReg: $('#formbilling #NoReg').val(),
                SectionID: $('#formbilling #SectionID').val(),
                KdKelas: $('#formbilling #KdKelas').val(),
                DokterID: $('#formbilling #DokterID').val(),
                Tanggal: $('#formbilling #Tanggal').val(),
                Jam: $('#formbilling #Jam').val(),
                detail: headerdetail
            },
            success: function (dt) {
                if (dt.IsSuccess) {
                    if ('@Request.IsAjaxRequest()' == 'True')
                    {
                        $('#formbilling').closest('.modal').modal('hide');
                        //autorefresh('table_ManualPosting');
                        $('#refresh-table').click();
                    }
                    alertpopup('Berhasil disimpan', 'success');
                } else {
                    alertpopup(dt.Message, 'danger');
                }
            }
        });
    }

    var noreg = '@ViewBag.Noreg';
    var section = '@ViewBag.Section';
    $('#formbilling #DokterID').select2({
        ajax: {
            url: "@Url.Action("ListDokter", "ManualPosting")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.DokterID, text: value.NamaDOkter } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

    $('#formbilling #SectionIDXX').select2({
        ajax: {
            url: "@Url.Action("SelectListSection", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#formbilling #KdKelas').select2({
        ajax: {
            url: "@Url.Action("ListKelas", "ManualPosting")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'KelasID',
                    sortByType: 'ASC',
                    pageSize: 30,
                    pageIndex: params.page || 0,
                    filter: ['', params.term, '', '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;
                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KelasID, text: value.NamaKelas } }),
                        pagination: {
                            more: (params.page * 30) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        }
    });

</script>
