﻿

@using iHos.MVC.Converter
@using RekamMedik.Models
@model ManualPostingViewModel
@{

    var controllerName = "ManualPosting";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new ManualPostingViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Registrasi_NoReg);
    column[2] = nameof(item.Tanggal);
    column[3] = nameof(item.NRM);
    column[4] = nameof(item.NamaPasien);
    column[5] = nameof(item.NamaDokter);
    column[6] = nameof(item.Registrasi_JenisKerjasama);
    column[7] = nameof(item.Registrasi_CompanyName);
    column[8] = nameof(item.Registrasi_NoKartu);
    column[9] = nameof(item.Gender);
    column[10] = nameof(item.Batal);
    column[11] = nameof(item.Pulang);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width : 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        width: 150px;
        text-align: center;
    }
    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        width: 150px;
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        width: 80px;
        text-align: center;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5) {
        width: 100px;
        text-align: center;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        min-width: 130px;
    }
    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        width: 250px;
    }
    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8) {
        width: 50px;
        text-align: center;
    }

</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId',
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()" id="refresh-table"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[13]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[14]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">
                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[5]')" class="sorting">Nama Dokter</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Kerjasama</th>
                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td>
                            <input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[1]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td></td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[5]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]" data-batal="{{data.@(column[10])}}">

                        <td class="middle text-center">
                            <span ng-if="data.@(column[11])==0">
                                <a ng-if="!data.@(column[10])" ng-click="batal(data.@column[0], '@Url.Action("Batal", "ManualPosting")')"
                                   title="Batal" data-id="{{data.@column[0]}}">
                                    <i class="icon-trash text-danger"></i>
                                </a>
                                <a ng-if="!data.@(column[10])" ng-click="edit_param({ nobukti : data.@column[0] }, '@Url.Action("Edit","ManualPosting")')" class="ml-5">
                                    <i class="icon-pencil5 text-success" title="Ubah"></i>
                                </a>
                            </span>
                            <a ng-click="detail_param({ nobukti : data.@column[0] }, '@Url.Action("Detail","ManualPosting")')" class="ml-5">
                                <i class="icon-eye" title="Lihat"></i>
                            </a>
                        </td>

                        <!-- Table Result -->
                        <td style="vertical-align:middle;">
                            <label ng-if="data.@(column[10])" class="label label-warning" title="Batal">{{data.@column[0]}}</label>
                            <label ng-if="!data.@(column[10])" class="label label-success" title="{{data.@(column[0])}}">{{data.@column[0]}}</label>
                        </td>
                        <td title="{{data.@(column[1])}}">{{data.@(column[1])}} {{data.@(column[11])}}</td>
                        <td title="{{data.@(column[2])}}">{{data.@(column[2])_View}}</td>
                        <td title="{{data.@(column[3])}}">{{data.@(column[3])}}</td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])}}</td>
                        <td title="{{data.@(column[5])}}">{{data.@(column[5])}}</td>
                        <td title="{{data.@(column[6])}}">
                            <label class="label label-primary">{{data.@(column[6])}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>

     angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[12] = date;
         sc.filter[13] = date;
         sc.filter[15] = "0";
        sc.getdatas();
     });

    function openModalEdit(nobukti) {
        $('#formbilling').closest('.modal').modal('hide');

        var url = '@Html.Raw(Url.Action("Edit", "ManualPosting", new { nobukti = "@nobukti" }))';
        url = url.replace('%40nobukti', nobukti)
        angular.element('#table_ManualPosting').scope().ajaxmodal({
            url: url,
            header: 'Edit Manual Posting',
        });
    }

    function openModalCreate() {
         $('#formbilling').closest('.modal').modal('hide');

        var url = '@Html.Raw(Url.Action("Create", "ManualPosting"))';
        angular.element('#table_ManualPosting').scope().ajaxmodal({
            url: url,
            header: 'Manual Posting',
        });
    }
    function openModalPaymen(noreg) {
        $('#formbilling').closest('.modal').modal('hide');

        var url = '@Html.Raw(Url.Action("Create", "Pembayaran", new { noreg = "@noreg" }))';
        url = url.replace('%40noreg', noreg)
        angular.element('#table_ManualPosting').scope().ajaxmodal({
            url: url,
            header: 'Tambah Pembayaran',
        });
    }

</script>


