﻿@using RekamMedik.Models
@model RekamMedikRIInsertViewModel
@{
    var controllerName = "CodingRI";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";
    var targetForm = formName;

    #region Detail ICD
    var detail_icd = new ICDViewModel();
    var table_detail_icd = $"frm_{controllerName}_table_detail_icd";
    var target_inputDetail_icd = $"inputDetail{controllerName}_icd";
    #endregion

    #region ==== MODAL ICD
    var target_icd = new
    {
        t0 = $"#ICD_Detail_List_-1__Model_{nameof(detail_icd.KodeICD)}",
        t1 = $"#ICD_Detail_ListICD_-1__Model_{nameof(detail_icd.Descriptions)}",
    };
    var modalName_icd = "ICD";
    var modalid_m_icd = $"modal_{formName}_icd";
    #endregion

    #region Detail TINDAKAN
    var detail_tindakan = new TindakanViewModel();
    var table_detail_tindakan = $"frm_{controllerName}_table_detail_tindakan";
    var target_inputDetail_tindakan = $"inputDetail{controllerName}_tindakan";
    #endregion

    #region ==== MODAL TINDAKAN
    var target_tindakan = new
    {
        t0 = $"#Tindakan_Detail_List_-1__Model_{nameof(detail_tindakan.KDTdk)}",
        t1 = $"#Tindakan_Detail_List_-1__Model_{nameof(detail_tindakan.Tindakan)}",
    };
    var modalName_tindakan = "Tindakan";
    var modalid_m_tindakan = $"modal_{formName}_tindakan";
    #endregion

    #region Detail PENYAKIT LUAR
    var detail_penyakitluar = new ICDViewModel();
    var table_detail_penyakitluar = $"frm_{controllerName}_table_detail_penyakitluar";
    var target_inputDetail_penyakitluar = $"inputDetail{controllerName}_penyakitluar";
    #endregion

    #region ==== MODAL PENYAKIT LUAR
    var target_penyakitluar = new
    {
        t0 = $"#PenyakitLuar_Detail_List_-1__Model_{nameof(detail_penyakitluar.KodeICD)}",
        t1 = $"#PenyakitLuar_Detail_ListPenyakitLuar_-1__Model_{nameof(detail_penyakitluar.Descriptions)}",
    };
    var modalName_penyakitluar = "PENYAKIT LUAR";
    var modalid_m_penyakitluar = $"modal_{formName}_penyakitluar";
    #endregion

    #region Detail DOKUMEN
    var detail_dokumen = new DokumenViewModel();
    var table_detail_dokumen = $"frm_{controllerName}_table_detail_dokumen";
    var target_inputDetail_dokumen = $"inputDetail{controllerName}_dokumen";
    #endregion

    #region ==== MODAL DOKUMEN
    var target_dokumen = new
    {
        t0 = $"#Dokumen_Detail_List_-1__Model_{nameof(detail_dokumen.Kode_Dokumen)}",
        t1 = $"#Dokumen_Detail_ListICD_-1__Model_{nameof(detail_dokumen.Nama_Dokument)}",
    };
    var modalName_dokumen = "Dokumen";
    var modalid_m_dokumen = $"modal_{formName}_dokumen";
    #endregion

    int detail_icd_index = 0;
    int detail_tindakan_index = 0;
    int detail_penyakitluar_index = 0;
    int detail_dokumen_index = 0;
    if (Model != null)
    {
        if (Model.ICD_Detail_List != null)
        {
            detail_icd_index = Model.ICD_Detail_List.Count();
        }

        if (Model.Tindakan_Detail_List != null)
        {
            detail_tindakan_index = Model.Tindakan_Detail_List.Count();
        }

        if (Model.PenyakitLuar_Detail_List != null)
        {
            detail_penyakitluar_index = Model.PenyakitLuar_Detail_List.Count();
        }

        if (Model.Dokumen_Detail_List != null)
        {
            detail_dokumen_index = Model.Dokumen_Detail_List.Count();
        }

    }

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}
<style>
    #@table_detail_icd thead th:nth-child(1),
    #@table_detail_icd tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_icd thead th:nth-child(2),
    #@table_detail_icd tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_icd thead th:nth-child(3),
    #@table_detail_icd tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_icd thead th:nth-child(4),
    #@table_detail_icd tbody td:nth-child(4){
        width : 80px;
    }

</style>
<style>
    #@table_detail_tindakan thead th:nth-child(1),
    #@table_detail_tindakan tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_tindakan thead th:nth-child(2),
    #@table_detail_tindakan tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_tindakan thead th:nth-child(3),
    #@table_detail_tindakan tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_tindakan thead th:nth-child(4),
    #@table_detail_tindakan tbody td:nth-child(4){
        width : 80px;
    }

</style>
<style>
    #@table_detail_penyakitluar thead th:nth-child(1),
    #@table_detail_penyakitluar tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_penyakitluar thead th:nth-child(2),
    #@table_detail_penyakitluar tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_penyakitluar thead th:nth-child(3),
    #@table_detail_penyakitluar tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_penyakitluar thead th:nth-child(4),
    #@table_detail_penyakitluar tbody td:nth-child(4){
        width : 80px;
    }

</style>
<style>
    #@table_detail_dokumen thead th:nth-child(1),
    #@table_detail_dokumen tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_dokumen thead th:nth-child(2),
    #@table_detail_dokumen tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_dokumen thead th:nth-child(3),
    #@table_detail_dokumen tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_dokumen thead th:nth-child(4),
    #@table_detail_dokumen tbody td:nth-child(4){
        width : 100px;
    }

</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SectionID)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">No Reg</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NoReg, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NoReg, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">NRM</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NRM, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NRM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Nama Pasien</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NamaPasien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.NamaPasien, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Alamat</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Gender</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Umur</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Umur_View, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Umur_View, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Tanggal Lahir</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Agama</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Agama, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Pendidikan</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Pendidikan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Pendidikan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-4">Tgl Reg</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TglReg, new { htmlAttributes = new { @class = "form-control", onchange = "getday()", Value = (Model.TglReg != null ? (Model.TglReg.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TglReg, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Tgl Keluar</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TglKeluar, new { htmlAttributes = new { @class = "form-control", onchange = "getday()", Value = (Model.TglKeluar != null ? (Model.TglKeluar.ToString("yyyy-MM-dd")) : "") } })
                            @Html.ValidationMessageFor(model => model.TglKeluar, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.JamReg, new { htmlAttributes = new { @class = "form-control", Value = (Model.JamReg != null ? (Model.JamReg.ToString("hh':'mm")) : "") } })
                            @Html.ValidationMessageFor(model => model.JamReg, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">Dirawat di ruang</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.SectionName, Model.SectionName == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                    { new SelectListItem() { Value = Model.SectionName, Text = Model.SectionName } }, new { @class = "form-control", @onchange = "on_selected_dokter2(this, '#SKKonsul_Dokter')" })
                            @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">Kelas</label>
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.NamaKelas, Model.NamaKelas == null ? new List<SelectListItem>() : new List<SelectListItem>()
                                   { new SelectListItem() { Value = Model.NamaKelas, Text = Model.NamaKelas } }, new { @class = "form-control", @onchange = "on_selected_dokter2(this, '#SKKonsul_Dokter')" })
                            @Html.ValidationMessageFor(model => model.NamaKelas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.JamKeluar, new { htmlAttributes = new { @class = "form-control", Value = (Model.JamKeluar != null ? (Model.JamKeluar.ToString("hh':'mm")) : "") } })
                            @Html.ValidationMessageFor(model => model.JamKeluar, "", new { @class = "text-danger" })
                        </div>
                        <label class="control-label col-md-2">Lama Rawat</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.LamaRawat, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.LamaRawat, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Diagnosa Masuk</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaMasuk, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaMasuk, Text = Model.DiagnosaMasukNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaMasuk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.KasusPertama, new { htmlAttributes = new { onclick = "kasus1()" } })
                                    Kasus Pertama
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.KasusBerulang, new { htmlAttributes = new { onclick = "kasus2()" } })
                                    Kasus Berulang
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Cara Masuk</label>
                        <div class="col-md-9">
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.CaraMasuk_IGD, new { htmlAttributes = new { onclick = "caramasuk1()" } })
                                UGD
                            </label>
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.CaraMasuk_RJ, new { htmlAttributes = new { onclick = "caramasuk2()" } })
                                Rawat Jalan
                            </label>
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.CaraMasuk_RI, new { htmlAttributes = new { onclick = "caramasuk3()" } })
                                Rawat Inap
                            </label>
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.CaraMasuk_VK, new { htmlAttributes = new { onclick = "caramasuk4()" } })
                                VK
                            </label>
                            <label class="checkbox-inline">
                                @Html.EditorFor(model => model.CaraMasuk_OK, new { htmlAttributes = new { onclick = "caramasuk5()" } })
                                OK
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-3">
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.KunjunganLama, new { htmlAttributes = new { onclick = "kunjungan(this)" } })
                                    Kunjungan Lama
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.KunjunganBaru, new { htmlAttributes = new { onclick = "kunjungan(this)" } })
                                    Kunjungan Baru
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Diagnosa Utama</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaUtama, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaUtama, Text = Model.DiagnosaUtamaNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaUtama, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Diagnosa Sekunder</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaSekunder, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaSekunder, Text = Model.DiagnosaSekunderNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaSekunder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <div id="panel_detil_icd_@formName" class="detail" data-index-detail="@detail_icd_index">
                                <div class="table-responsive">
                                    <table id="@table_detail_icd" class="table table-hover table-bordered">
                                        <thead>
                                            <tr>

                                                <!-- Thead -->
                                                <th>
                                                    <input type="checkbox" onclick="checkall(this)" />
                                                </th>
                                                <th class="text-center">
                                                    <a class="text-success-600" title="ICD"
                                                       data-toggle="modal" data-target="#@modalid_m_icd">
                                                        <i class="icon-search4"></i>
                                                    </a>
                                                </th>
                                                <th></th>
                                                <th>Kode</th>
                                                <th>Deskripsi</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ICD_Detail_List != null)
                                            {
                                                for (var i = 0; i < Model.ICD_Detail_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.ICD_Detail_List[i].Remove,
                                                          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                                        </td>

                                                        <!-- Kode -->
                                                        <td>
                                                            @Html.EditorFor(model => model.ICD_Detail_List[i].Model.KodeICD, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>

                                                        <!-- Nama -->
                                                        <td>
                                                            @Html.EditorFor(model => model.ICD_Detail_List[i].Model.Descriptions, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Penyebab Kematian</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PenyebabKematian, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PenyebabKematian, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Alergi Terhadap</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Alergi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Alergi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group hidden">
                        <label class="control-label col-md-3">Morfologi</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaMorfologi, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaMorfologi, Text = Model.DiagnosaMorfologiNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaMorfologi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Tindakan</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaTindakan, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaTindakan, Text = Model.DiagnosaTindakanNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaTindakan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <div id="panel_detil_tindakan_@formName" class="detail" data-index-detail="@detail_tindakan_index">
                                <div class="table-responsive">
                                    <table id="@table_detail_tindakan" class="table table-hover table-bordered">
                                        <thead>
                                            <tr>

                                                <!-- Thead -->
                                                <th>
                                                    <input type="checkbox" onclick="checkall(this)" />
                                                </th>
                                                <th class="text-center">
                                                    <a class="text-success-600" title="Tindakan"
                                                       data-toggle="modal" data-target="#@modalid_m_tindakan">
                                                        <i class="icon-search4"></i>
                                                    </a>
                                                </th>
                                                <th></th>
                                                <th>Kode</th>
                                                <th>Deskripsi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Tindakan_Detail_List != null)
                                            {
                                                for (var i = 0; i < Model.Tindakan_Detail_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.Tindakan_Detail_List[i].Remove,
                                                          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                                        </td>

                                                        <!-- Kode -->
                                                        <td>
                                                            @Html.EditorFor(model => model.Tindakan_Detail_List[i].Model.KDTdk, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>

                                                        <!-- Nama -->
                                                        <td>
                                                            @Html.EditorFor(model => model.Tindakan_Detail_List[i].Model.Tindakan, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Sebab Luar Penyakit</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.DiagnosaSebabPenyakit, Model == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.DiagnosaSebabPenyakit, Text = Model.SebabLuarPenyakitNama } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DiagnosaSebabPenyakit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <div id="panel_detil_penyakitluar_@formName" class="detail" data-index-detail="@detail_penyakitluar_index">
                                <div class="table-responsive">
                                    <table id="@table_detail_penyakitluar" class="table table-hover table-bordered">
                                        <thead>
                                            <tr>

                                                <!-- Thead -->
                                                <th>
                                                    <input type="checkbox" onclick="checkall(this)" />
                                                </th>
                                                <th class="text-center">
                                                    <a class="text-success-600" title="PENYAKIT LUAR"
                                                       data-toggle="modal" data-target="#@modalid_m_penyakitluar">
                                                        <i class="icon-search4"></i>
                                                    </a>
                                                </th>
                                                <th></th>
                                                <th>Kode</th>
                                                <th>Deskripsi</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PenyakitLuar_Detail_List != null)
                                            {
                                                for (var i = 0; i < Model.PenyakitLuar_Detail_List.Count(); i++)
                                                {
                                                    <tr>
                                                        <!-- Check -->
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>

                                                        <!-- Delete button -->
                                                        <td>
                                                            <a class="text-danger-600"
                                                               onclick="removetr(this)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </td>

                                                        <!-- Remove Status -->
                                                        <td>
                                                            @Html.EditorFor(model => model.PenyakitLuar_Detail_List[i].Remove,
                                                          new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                                        </td>

                                                        <!-- Kode -->
                                                        <td>
                                                            @Html.EditorFor(model => model.PenyakitLuar_Detail_List[i].Model.KodeICD, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>

                                                        <!-- Nama -->
                                                        <td>
                                                            @Html.EditorFor(model => model.PenyakitLuar_Detail_List[i].Model.Descriptions, new
                                                       {
                                                           htmlAttributes = new
                                                           {
                                                               @class = "form-control input-sm",
                                                               @readonly = "readonly",
                                                               tabindex = "-1"
                                                           }
                                                       })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Imunisasi</label>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.Imunisasi_Hepatitis, new { htmlAttributes = new { onclick = "imunisasi1()" } })
                                            Hepatitis B / Engeri
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.Imunisasi_Polio, new { htmlAttributes = new { onclick = "imunisasi2()" } })
                                            Polio
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.Imunisasi_Hep, new { htmlAttributes = new { onclick = "imunisasi3()" } })
                                            By Herp
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Dokter</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.DokterID, Model == null ? new List<SelectListItem>() :
                        new List<SelectListItem>() { new SelectListItem() { Value = Model.DokterID, Text = Model.NamaDokter } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DokterID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Kelengkapan Dokumen</label>
                                <div class="col-md-9">
                                    <div id="panel_detil_dokumen_@formName" class="detail" data-index-detail="@detail_dokumen_index">
                                        <div class="table-responsive">
                                            <table id="@table_detail_dokumen" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <!-- Thead -->
                                                        <th>
                                                            <input type="checkbox" onclick="checkall(this)" />
                                                        </th>
                                                        <th class="text-center">
                                                            <a class="text-success-600" title="Dokumen"
                                                               data-toggle="modal" data-target="#@modalid_m_dokumen">
                                                                <i class="icon-search4"></i>
                                                            </a>
                                                        </th>
                                                        <th></th>
                                                        <th>Kode</th>
                                                        <th>Nama Dokumen</th>
                                                        <th>Avilable</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Dokumen_Detail_List != null)
                                                    {
                                                        for (var i = 0; i < Model.Dokumen_Detail_List.Count(); i++)
                                                        {
                                                            <tr>
                                                                <!-- Check -->
                                                                <td>
                                                                    <input type="checkbox" />
                                                                </td>

                                                                <!-- Delete button -->
                                                                <td>
                                                                    <a class="text-danger-600"
                                                                       onclick="removetr(this)">
                                                                        <i class="icon-trash"></i>
                                                                    </a>
                                                                </td>

                                                                <!-- Remove Status -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.Dokumen_Detail_List[i].Remove,
                                                                  new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
                                                                </td>

                                                                <!-- Kode -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.Dokumen_Detail_List[i].Model.Kode_Dokumen, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly",
                                                                       tabindex = "-1"
                                                                   }
                                                               })
                                                                </td>

                                                                <!-- Nama -->
                                                                <td>
                                                                    @Html.EditorFor(model => model.Dokumen_Detail_List[i].Model.Nama_Dokument, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       @readonly = "readonly",
                                                                       tabindex = "-1"
                                                                   }
                                                               })
                                                                </td>
                                                                <td>
                                                                    @Html.EditorFor(model => model.Dokumen_Detail_List[i].Model.Avilable, new
                                                               {
                                                                   htmlAttributes = new
                                                                   {
                                                                       @class = "form-control input-sm",
                                                                       tabindex = "-1"
                                                                   }
                                                               })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Keadaan Keluar RS</label>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KeadaanKeluar_Sembuh, new { htmlAttributes = new { onclick = "checkkeadaan1()" } })
                                            Sembuh
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KeadaanKeluar_BelumSembut, new { htmlAttributes = new { onclick = "checkkeadaan2()" } })
                                            Belum Sembuh
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KeadaanKeluar_Membaik, new { htmlAttributes = new { onclick = "checkkeadaan3()" } })
                                            Membaik
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KeadaanKeluar_Meninggal48, new { htmlAttributes = new { onclick = "checkkeadaan4()" } })
                                            Meninggal < 48 jam
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.KeadaanKeluar_Meinggal49, new { htmlAttributes = new { onclick = "checkkeadaan5()" } })
                                            Meninggal > 48 jam
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hidden" id="jammeninggal">
                                <label class="control-label col-md-3">Jam Meninggal</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MeninggalJam, new { htmlAttributes = new { @class = "form-control", Value = (Model.MeninggalJam != null ? (Model.MeninggalJam.ToString("hh':'mm")) : "") } })
                                    @Html.ValidationMessageFor(model => model.MeninggalJam, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">Status Keluar RS</label>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.StatusKeluar_Diijinkan, new { htmlAttributes = new { onclick = "checkstatus1()" } })
                                            Diijinkan Pulang
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.StatusKeluar_PulangPaksa, new { htmlAttributes = new { onclick = "checkstatus2()" } })
                                            Pulang Paksa
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.StatusKeluar_PindahRS, new { htmlAttributes = new { onclick = "checkstatus3()" } })
                                            Pindah RS Lain
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pindahRSNama hidden">
                                <label class="control-label col-md-3">Rumah Sakit</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.StatusKeluar_PindahRS_Kode, Model.StatusKeluar_PindahRS_Kode == null ? new List<SelectListItem>() :
                new List<SelectListItem>() { new SelectListItem() { Value = Model.StatusKeluar_PindahRS_Kode, Text = Model.StatusKeluar_PindahRS_KodeNama } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StatusKeluar_PindahRS_Kode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <div class="col-md-3 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.StatusKeluar_DirujukAtas, new { htmlAttributes = new { onclick = "checkstatus4()" } })
                                            Dirujuk Atas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            @Html.EditorFor(model => model.StatusKeluar_DirujukKebawah, new { htmlAttributes = new { onclick = "checkstatus5()" } })
                                            Dirujuk Ke Bawah
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    }

</div>
@{
    if (Model != null)
    {
        Model.ICD_Detail_List = null;
        Model.Tindakan_Detail_List = null;
        Model.PenyakitLuar_Detail_List = null;
        Model.Dokumen_Detail_List = null;
    }

}
<div id="@target_inputDetail_icd" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.ICD_Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>


    <div class="input-detail">
        @Html.EditorFor(model => model.ICD_Detail_List[-1].Model.KodeICD, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_icd(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.ICD_Detail_List[-1].Model.Descriptions, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

</div>
<div id="@target_inputDetail_tindakan" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Tindakan_Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>


    <div class="input-detail">
        @Html.EditorFor(model => model.Tindakan_Detail_List[-1].Model.KDTdk, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_tindakan(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Tindakan_Detail_List[-1].Model.Tindakan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

</div>
<div id="@target_inputDetail_penyakitluar" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.PenyakitLuar_Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>


    <div class="input-detail">
        @Html.EditorFor(model => model.PenyakitLuar_Detail_List[-1].Model.KodeICD, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_penyakitluar(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.PenyakitLuar_Detail_List[-1].Model.Descriptions, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

</div>

<div id="@target_inputDetail_dokumen" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Dokumen_Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>


    <div class="input-detail">
        @Html.EditorFor(model => model.Dokumen_Detail_List[-1].Model.Kode_Dokumen, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           onblur = "checkdetailprimarykey_penyakitluar(this)",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Dokumen_Detail_List[-1].Model.Nama_Dokument, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Dokumen_Detail_List[-1].Model.Avilable, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
       }
   })
    </div>

</div>

@Html.Partial("_LookUp_ICD", Model, new ViewDataDictionary {
    { "target", target_icd },
    { "modalid", modalid_m_icd},
    { "targetForm", targetForm },
    { "modalName", modalName_icd },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_icd },
    { "targetInputTable", target_inputDetail_icd},
})

@Html.Partial("_LookUp_Tindakan", Model, new ViewDataDictionary {
    { "target", target_tindakan },
    { "modalid", modalid_m_tindakan},
    { "targetForm", targetForm },
    { "modalName", modalName_tindakan },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_tindakan },
    { "targetInputTable", target_inputDetail_tindakan},
})

@Html.Partial("_LookUp_ICD", Model, new ViewDataDictionary {
    { "target", target_penyakitluar },
    { "modalid", modalid_m_penyakitluar},
    { "targetForm", targetForm },
    { "modalName", modalName_penyakitluar },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_penyakitluar },
    { "targetInputTable", target_inputDetail_penyakitluar},
})

@Html.Partial("_LookUp_Dokumen", Model, new ViewDataDictionary {
    { "target", target_dokumen},
    { "modalid", modalid_m_dokumen},
    { "targetForm", targetForm },
    { "modalName", modalName_dokumen },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_dokumen },
    { "targetInputTable", target_inputDetail_dokumen},
    { "filterRIRJ", "RI" },
})

<script>
    function kunjungan(t) {
        $('#KunjunganBaru').prop('checked', false);
        $('#KunjunganLama').prop('checked', false);

        $(t).prop('checked', true);
    }

    function checkkeadaan1() {
        if ($('#KeadaanKeluar_Sembuh').is(':checked')) {
            $('#KeadaanKeluar_BelumSembut').prop('checked', false);
            $('#KeadaanKeluar_Membaik').prop('checked', false);
            $('#KeadaanKeluar_Meninggal48').prop('checked', false);
            $('#KeadaanKeluar_Meinggal49').prop('checked', false);
            $('#jammeninggal').addClass('hidden');
        }
    }

    function checkkeadaan2() {
        if ($('#KeadaanKeluar_BelumSembut').is(':checked')) {
            $('#KeadaanKeluar_Sembuh').prop('checked', false);
            $('#KeadaanKeluar_Membaik').prop('checked', false);
            $('#KeadaanKeluar_Meninggal48').prop('checked', false);
            $('#KeadaanKeluar_Meinggal49').prop('checked', false);
            $('#jammeninggal').addClass('hidden');
        }
    }

    function checkkeadaan3() {
        if ($('#KeadaanKeluar_Membaik').is(':checked')) {
            $('#KeadaanKeluar_Sembuh').prop('checked', false);
            $('#KeadaanKeluar_BelumSembut').prop('checked', false);
            $('#KeadaanKeluar_Meninggal48').prop('checked', false);
            $('#KeadaanKeluar_Meinggal49').prop('checked', false);
            $('#jammeninggal').addClass('hidden');
        }
    }

    function checkkeadaan4() {
        if ($('#KeadaanKeluar_Meninggal48').is(':checked')) {
            $('#KeadaanKeluar_Sembuh').prop('checked', false);
            $('#KeadaanKeluar_BelumSembut').prop('checked', false);
            $('#KeadaanKeluar_Membaik').prop('checked', false);
            $('#KeadaanKeluar_Meinggal49').prop('checked', false);
            $('#jammeninggal').removeClass('hidden');
        }
    }

    function checkkeadaan5() {
        if ($('#KeadaanKeluar_Meinggal49').is(':checked')) {
            $('#KeadaanKeluar_Sembuh').prop('checked', false);
            $('#KeadaanKeluar_BelumSembut').prop('checked', false);
            $('#KeadaanKeluar_Membaik').prop('checked', false);
            $('#KeadaanKeluar_Meninggal48').prop('checked', false);
            $('#jammeninggal').removeClass('hidden');
        }
    }

    function checkstatus1() {
        if ($('#StatusKeluar_Diijinkan').is(':checked')) {
            $('#StatusKeluar_PulangPaksa').prop('checked', false);
            $('#StatusKeluar_PindahRS').prop('checked', false);
            $('#StatusKeluar_DirujukAtas').prop('checked', false);
            $('#StatusKeluar_DirujukKebawah').prop('checked', false);
        }
        showPindahRS();
    }

    function checkstatus2() {
        if ($('#StatusKeluar_PulangPaksa').is(':checked')) {
            $('#StatusKeluar_Diijinkan').prop('checked', false);
            $('#StatusKeluar_PindahRS').prop('checked', false);
            $('#StatusKeluar_DirujukAtas').prop('checked', false);
            $('#StatusKeluar_DirujukKebawah').prop('checked', false);
        }
        showPindahRS();
    }

    function checkstatus3() {
        if ($('#StatusKeluar_PindahRS').is(':checked')) {
            $('#StatusKeluar_Diijinkan').prop('checked', false);
            $('#StatusKeluar_PulangPaksa').prop('checked', false);
            $('#StatusKeluar_DirujukAtas').prop('checked', false);
            $('#StatusKeluar_DirujukKebawah').prop('checked', false);
        }
        showPindahRS();
    }

    function checkstatus4() {
        if ($('#StatusKeluar_DirujukAtas').is(':checked')) {
            $('#StatusKeluar_Diijinkan').prop('checked', false);
            $('#StatusKeluar_PulangPaksa').prop('checked', false);
            $('#StatusKeluar_PindahRS').prop('checked', false);
            $('#StatusKeluar_DirujukKebawah').prop('checked', false);
        }
        showPindahRS();
    }

    function checkstatus5() {
        if ($('#StatusKeluar_DirujukKebawah').is(':checked')) {
            $('#StatusKeluar_Diijinkan').prop('checked', false);
            $('#StatusKeluar_PulangPaksa').prop('checked', false);
            $('#StatusKeluar_PindahRS').prop('checked', false);
            $('#StatusKeluar_DirujukAtas').prop('checked', false);
        }
        showPindahRS();
    }

    function kasus1() {
        if ($('#KasusPertama').is(':checked')) {
            $('#KasusBerulang').prop('checked', false);
        }
    }

    function kasus2() {
        if ($('#KasusBerulang').is(':checked')) {
            $('#KasusPertama').prop('checked', false);
        }
    }

    function caramasuk1() {
        if ($('#CaraMasuk_IGD').is(':checked')) {
            $('#CaraMasuk_RJ').prop('checked', false);
            $('#CaraMasuk_RI').prop('checked', false);
            $('#CaraMasuk_VK').prop('checked', false);
            $('#CaraMasuk_OK').prop('checked', false);
        }
    }

    function caramasuk2() {
        if ($('#CaraMasuk_RJ').is(':checked')) {
            $('#CaraMasuk_IGD').prop('checked', false);
            $('#CaraMasuk_RI').prop('checked', false);
            $('#CaraMasuk_VK').prop('checked', false);
            $('#CaraMasuk_OK').prop('checked', false);
        }
    }

    function caramasuk3() {
        if ($('#CaraMasuk_RI').is(':checked')) {
            $('#CaraMasuk_IGD').prop('checked', false);
            $('#CaraMasuk_RJ').prop('checked', false);
            $('#CaraMasuk_VK').prop('checked', false);
            $('#CaraMasuk_OK').prop('checked', false);
        }
    }

    function caramasuk4() {
        if ($('#CaraMasuk_VK').is(':checked')) {
            $('#CaraMasuk_IGD').prop('checked', false);
            $('#CaraMasuk_RJ').prop('checked', false);
            $('#CaraMasuk_RI').prop('checked', false);
            $('#CaraMasuk_OK').prop('checked', false);
        }
    }

    function caramasuk5() {
        if ($('#CaraMasuk_OK').is(':checked')) {
            $('#CaraMasuk_IGD').prop('checked', false);
            $('#CaraMasuk_RJ').prop('checked', false);
            $('#CaraMasuk_RI').prop('checked', false);
            $('#CaraMasuk_VK').prop('checked', false);
        }
    }

    function imunisasi1() {
        if ($('#Imunisasi_Hepatitis').is(':checked')) {
            $('#Imunisasi_Polio').prop('checked', false);
            $('#Imunisasi_Hep').prop('checked', false);
        }
    }

    function imunisasi2() {
        if ($('#Imunisasi_Polio').is(':checked')) {
            $('#Imunisasi_Hepatitis').prop('checked', false);
            $('#Imunisasi_Hep').prop('checked', false);
        }
    }

    function imunisasi3() {
        if ($('#Imunisasi_Hep').is(':checked')) {
            $('#Imunisasi_Polio').prop('checked', false);
            $('#Imunisasi_Hepatitis').prop('checked', false);
        }
    }

    function checkdetailprimarykey_icd(_this) {
        var j_detail_input = $('#@table_detail_icd tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
    }

    function checkdetailprimarykey_tindakan(_this) {
        var j_detail_input = $('#@table_detail_tindakan tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
    }

    function checkdetailprimarykey_penyakitluar(_this) {
        var j_detail_input = $('#@table_detail_penyakitluar tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
    }

    function checkdetailprimarykey_dokumen(_this) {
        var j_detail_input = $('#@table_detail_dokumen tbody td:nth-child(4) input');
        var found = 0;
        var _val = _this.value;
        for (var i = 0; i < j_detail_input.length; i++) {
            var value = j_detail_input[i];
            if (value != undefined) {
                if (value.value == _val) found++;
            }
        }
        if (found > 1) {
            $(_this.closest('tr')).find('td:nth-child(2) a').click();
        }
    }
    showPindahRS();
    function showPindahRS() {
        if ($('#StatusKeluar_PindahRS').is(':checked')) {
            $("#@formName .pindahRSNama").removeClass("hidden");
        } else {
            $("#@formName .pindahRSNama").addClass("hidden");
        }
    }

    $('#@formName #DiagnosaUtama').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DiagnosaMasuk').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DiagnosaMorfologi').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DiagnosaSekunder').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DiagnosaTindakan').select2({
        ajax: {
            url: "@Url.Action("SelectListTindakan", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Tindakan',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KDTdk, text: '[ ' + value.KDTdk + ' ] ' + value.Tindakan } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DokterID').select2({
        ajax: {
            url: "@Url.Action("SelectListDokter", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaDOkter',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #DiagnosaSebabPenyakit').select2({
        ajax: {
            url: "@Url.Action("SelectListICD", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Descriptions',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.KodeICD, text: '[ ' + value.KodeICD + ' ] ' + value.Descriptions } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #SectionName').select2({
        ajax: {
            url: "@Url.Action("SelectListSectionRI", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'SectionName',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #NamaKelas').select2({
        ajax: {
            url: "@Url.Action("SelectListKelas", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'NamaKelas',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    $('#@formName #StatusKeluar_PindahRS_Kode').select2({
        ajax: {
            url: "@Url.Action("SelectListRS", "LookUp")",
            dataType: 'json',
            type: "POST",
            delay: 250,
            data: function (params) {
                return {
                    sortBy: 'Nama_Supplier',
                    sortByType: 'ASC',
                    pageSize: 15,
                    pageIndex: params.page || 0,
                    filter: [params.term, '']
                };
            },
            processResults: function (data, params) {
                if (!data.IsSuccess)
                    alertpopup(data.Message, 'danger');
                else {
                    params.page = data.Pagger.PageIndex + 1;

                    return {
                        results: $.map(data.Table, function (value, indel) { return { id: value.Kode, text: value.Nama } }),
                        pagination: {
                            more: (params.page * 15) < data.Pagger.TotalRowCount
                        }
                    };
                }
            },
            cache: true
        },
        placeholder: "",
        allowClear: true
    });

    function getday() {
        var d1 = new Date($('#TglReg').val());
        var d2 = new Date($('#TglKeluar').val());
        var t2 = d2.getTime();
        var t1 = d1.getTime();

        $('#LamaRawat').val(parseInt(((t2 - t1) / (24 * 3600 * 1000)) + 1));
    }
</script>
