﻿@using RekamMedik.Models
@model KelengkapanDokumenViewModel
@{
    var controllerName = "KelengkapanDokumen";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_edit";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Edit", Value = "active" }
};
}

<div class="wall">
    @using (Ajax.BeginForm("Edit", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompleteedit(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Kode_dokumen)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-3">Nama Dokumen</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Nama_Dokumen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nama_Dokumen, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Keterangan</label>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Lokasi Dokumen</label>
            <div class="col-md-9">
                <label class="checkbox-inline">
                    @Html.EditorFor(model => model.Dok_RJ)
                    @Html.ValidationMessageFor(model => model.Dok_RJ, "", new { @class = "text-danger" })
                    Rawat Jalan
                </label>
                <label class="checkbox-inline">
                    @Html.EditorFor(model => model.Dok_RI)
                    @Html.ValidationMessageFor(model => model.Dok_RI, "", new { @class = "text-danger" })
                    Rawat Inap
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        Aktif
                    </label>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    }

</div>
