﻿@using iHos.MVC.Converter
@using RekamMedik.Models
@{
    var controllerName = "CodingODC";
    ViewBag.Title = controllerName;
    var tableId = $"table_{controllerName}";
    var item = new RekamMedikODCViewModel();
    var columnCount = 15;
    var column = new string[columnCount];
    column[0] = nameof(item.TglReg);
    column[1] = nameof(item.TglKeluar);
    column[2] = nameof(item.NoReg);
    column[3] = nameof(item.NRM);
    column[4] = nameof(item.NamaPasien);
    column[5] = nameof(item.JenisKelamin);
    column[6] = nameof(item.ALamat);
    column[7] = nameof(item.SectionName);
    column[8] = nameof(item.SectionID);
    column[9] = nameof(item.Nama_Supplier);
    column[10] = nameof(item.Perusahaan);
    column[14] = nameof(item.SudahCoding);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        min-width: 70px;
        text-align: center;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
        text-align: center;
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
        text-align: center;
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
        text-align: center;
        min-width: 140px;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
        text-align: center;
        min-width: 70px;
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(7),
    #@tableId tbody td:nth-child(7){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(8),
    #@tableId tbody td:nth-child(8){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(9),
    #@tableId tbody td:nth-child(9){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    #@tableId thead th:nth-child(10),
    #@tableId tbody td:nth-child(10){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 150px;
        max-width: 150px;
    }

    .merah {
        background-color: #FFE4E1;
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[11]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[12]" ng-change="getdatas()" />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[13]" ng-change="getdatas()" onclick="disabletarget(this.checked, '.input-periode')" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[1]'; sorttype = 'asc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">Tgl Reg</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tgl Keluar</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">No Reg</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">NRM</th>
                        <th ng-click="ordering($event,'@column[4]')" class="sorting">Nama Pasien</th>
                        <th ng-click="ordering($event,'@column[6]')" class="sorting">Alamat</th>
                        <th ng-click="ordering($event,'@column[7]')" class="sorting">Section</th>
                        <th ng-click="ordering($event,'@column[9]')" class="sorting">Dokter</th>
                        <th ng-click="ordering($event,'@column[10]')" class="sorting">Perusahaan</th>
                    </tr>
                    <tr class="filter_list">

                        <!-- Filter -->
                        <td></td>
                        <td></td>
                        <td>
                            <input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[4]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[6]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[7]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[9]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                        <td>
                            <input ng-model="filter[10]" type="text" class="form-control input-xs" ng-change="getdatas()">
                        </td>
                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="{'merah': {{data.@column[14]}} == true}">

                        <td class="middle text-center">
                            <a href="@Url.Action("Create")?noreg={{ data.@column[2] }}&sectionid={{ data.@column[8] }}" class="text-teal-600"
                               onclick="return false"
                               ng-click="edit_param({noreg :data.@column[2], sectionid :data.@column[8]}, '@Url.Action("Create")')" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                            @*<a ng-click="delete(data.@column[0], '@Url.Action("Delete")')" class="text-danger-600">
                                    <i class="icon-trash"></i>
                                </a>*@
                        </td>

                        <!-- Table Result -->
                        <td>{{data.@(column[0])_View}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>
                            <label ng-if="data.@(column[5]) == 'M'" class="text-primary fa fa-mars"></label>
                            <label ng-if="data.@(column[5]) == 'F'" class="text-danger fa fa-venus"></label>
                            <label ng-if="data.@(column[5]) != 'F' && data.@(column[5]) != 'M'" class="text-warning genderless"></label>
                            &nbsp;
                            {{data.@(column[3])}}
                        </td>
                        <td title="{{data.@(column[4])}}">{{data.@(column[4])}}</td>
                        <td title="{{data.@(column[6])}}">{{data.@(column[6])}}</td>
                        <td title="{{data.@(column[7])}}">{{data.@(column[7])}}</td>
                        <td title="{{data.@(column[9])}}">{{data.@(column[9])}}</td>
                        <td title="{{data.@(column[10])}}">{{data.@(column[10])}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.icon-paragraph-justify3').click();
    });

    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[11] = date;
        sc.filter[12] = date;
        sc.getdatas();
    });
</script>